
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        box-sizing:border-box; /* VERY IMPORTANT - keeps track of all the math of containers' width*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
        display: block;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
}

/* -----------------  CSS RESET END - MY STYLES BEGIN  ----------------- */

/*-------------- HIGH-LEVEL STYLES -------------------*/

/*{
        border:5px solid lime !important;
}*/


html{
        position:relative;
        width:100%;
}

body{
        position:relative;
        width:100%;
        min-width:100vh;

}


/*-------------- INHERITED TEXT STYLES -------------------*/

/*----

font-family: 'Times New Roman', sans-serif;
font-family: 'Times New Roman', monospace;
font-family: 'Times New Roman', cursive;

---*/

a{
        color:black;
        text-decoration:none;
}

a:link{
        color:black;
        text-decoration:none;
}

a:visited{
        color:black;
        text-decoration:none;
}

h1{
        font-family: 'Times New Roman', cursive;
}

h2{
        font-family: 'Times New Roman', sans-serif;
        font-size:6vw;
}

h3{
        font-family: 'Times New Roman', sans-serif;
        font-size:3vw;
}

h4{
        font-family: 'Times New Roman', sans-serif;
        font-size:2vw;
}

h5{
        font-family: 'Times New Roman', sans-serif;
        font-size:1vw;
}

h6{
        font-family: 'Times New Roman', sans-serif;
        font-size:.5vw;
}

p{
        font-family: 'Times New Roman', monospace;
        font-size:1.3vw;
}

b, strong{
        font-style:bold;
}

i, em{
        font-style:italic;
}


/*-------------- HERO STYLES -------------------*/

#hero{
        position:relative;
        width:100%;

        height:100vh;

        background:url(images/anton11.jpg) no-repeat center center;
        background-size:cover;        /* equivalent to a clipping mask for a 
                                                                given container's background image */

}

#btt img{
        position:relative;
        width:50%;
        margin-left:25%;
        margin-top:25%;
}

#hero h1{
        position:relative;
        width:100%;
        overflow:hidden;

        color:white;

        font-size:15vw;

        text-align:center;

        line-height:100vh;



}

nav{
        position:fixed;
        top:0;
        left:95vw;

        width:40vw;
        height:100vh;

        padding:8vw;

        background-color:black;
        z-index:100;

        transition:left 1s;

}

nav:hover{
        
        left:60vw;

        transition:left 1s;
}

.mainList{
        position:relative;
        width:100%;

}

.mainList li{
        position:relative;
        overflow:hidden;

        margin-bottom:2vw;
        text-align:right;

}



.mainList li a{
        color:white;
        font-family: 'Times New Roman', monospace;
        font-size:2.6vw;
        letter-spacing:.08em;        

}



.subList{
        position:relative;
        width:100%;
        margin-top:1vw;
        padding-right:1vw;
}

.subList li{
        position:relative;
        overflow:hidden;

        margin-bottom:0vw;
        text-align:right;

}

.subList li a{
        color:white;
        font-family: 'Times New Roman', monospace;
        font-size:1.2vw;
        letter-spacing:.08em;
        line-height: 1.6em;

}


/*-------------- ABOUT STYLES -------------------*/

.about{
        position:relative;
        width:100%;
        min-height:70vh;

        /*background-color:dark grey;*/

        padding:10vw;
        padding-right:15vw;
}


.about div{}


.about div h3{
        
        margin-bottom:2vw;
}


.about div p{
        
        line-height:1.3em;
        margin-bottom:1.5em;

}


/*-------------- ENTRY STYLES -------------------*/


.entry{
        position:relative;
        width:100%;
        height:85vh;
}

.infoBox{
        position:relative;
        padding:5vw;
        padding-right:9vw;
        left:50%;
        width:50%;
        height:100%;
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(52,52,52,0.8449754901960784) 75%);
}

.infoText{
        color:white;
        /*background-color:dark grey;*/
        /*opacity:.5;*/
}

.infoText h4{
        margin-bottom:2vw;
}

.infoText p{
        line-height:1.3em;
        margin-bottom:1.5em;
        text-align:justify;
}

#entry1{
        background:url(images/anton1.jpg) no-repeat center center;
        background-size:cover;
}

#entry2{
        background:url(images/anton2.jpg) no-repeat center center;
        background-size:cover;
}

#entry3{
        background:url(images/anton3.gif) no-repeat center center;
        background-size:cover;
}

#entry4{
        background:url(images/anton4.gif) no-repeat center center;
        background-size:cover;
}

#entry4{
        background:url(images/anton7.gif) no-repeat center center;
        background-size:cover;
}


/*-------------- FOOTER STYLES -------------------*/

footer{        
        position:relative;
        width:100%;
        min-height:15vh;
        background-color:#face75;
        padding:3vw;
}

footer h3{
        padding-bottom:1vw;
}

footer p{
        padding-bottom:2vw;
}


/* ---- tag styles ----*/

.red{ 
        background-color:red;
 }

.accordion{
        height:3vw;
        transition:height 1s ease-in-out;

}

.accordion:hover{
        height:80vw;
        transition:height 1s ease-in-out;

}





